<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongbu.WebSNS.mapper.BoardMapper">
	<resultMap type="BoardDto" id="BoardMap">
		<id column="boardNo" property="boardNo"/>
		<result column="postTime" property="postTime"/>
		<result column="userNo" property="userNo"/>
		<result column="category" property="category"/>
		<result column="contents" property="contents"/>
		<result column="mapConfirm" property="mapConfirm"/>
		<result column="boardReport" property="boardReport"/>
		<result column="likes" property="likes"/>
		<association property="user" 
		select="com.joongbu.WebSNS.mapper.UserMapper.detailFindByUserNo"
		column="userNo" fetchType="lazy">
		</association>
		
		<collection property="boardImgList" 
		select="com.joongbu.WebSNS.mapper.BoardImgMapper.list"
		column="boardNo" fetchType="lazy">
		</collection>
		
		<collection property="boardReplyList"
		select="com.joongbu.WebSNS.mapper.BoardReplyMapper.list"
		column="boardNo" fetchType="lazy">
		</collection>
	</resultMap>
	<select id="list" resultMap="BoardMap">
		SELECT * FROM MAIN_BOARD ORDER BY boardNo DESC
	</select>
	<select id="detail" resultMap="BoardMap">
		SELECT * ,
		(SELECT COUNT(*) FROM MAIN_BOARD_PREFER f WHERE f.boardNo=b.boardNo AND prefer=1) likes
		FROM MAIN_BOARD b
		WHERE boardNo=#{boardNo}
	</select>
	<!--  useGeneratedKeys="true" keyProperty="boardNo" : 파라미터로 넘어온 boardDto에 boardNo가 넘어온다. -->
	<insert id="insert" parameterType="BoardDto"
	useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO MAIN_BOARD
		(contents, userNo, category, mapConfirm)
		VALUES
		(#{contents}, #{userNo}, #{category}, #{mapConfirm})
	</insert>
	<update id="update" parameterType="BoardDto">
		UPDATE MAIN_BOARD SET 
		contents=#{contents}, category=#{category}
		WHERE boardNo=#{boardNo}
	</update>
	<delete id="delete">
		DELETE FROM MAIN_BOARD WHERE boardNo=#{boardNo}
	</delete>
	
	<select id="findByCategory" resultMap="BoardMap">
		SELECT * FROM MAIN_BOARD WHERE category=#{category} ORDER BY boardNo DESC
	</select>
	
</mapper>