<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/board.js" defer="defer"></script>
</head>
<body>
	<header th:include="/nav/headerNav"></header>
	<main class="container mt-5">
		<div>
			<p>
				<span th:text="${board.boardNo+' / ' +board.user.nickname}"></span>
			</p>
			<p>
				<span th:text="${board.contents}"></span>
			</p>
			<p>
				<span th:text="${board.postTime}"></span>
			</p>
			<p>
				<span th:text="${board.category}"></span>
			</p>
			
			<section id="imgList">
				<th:block th:include="/board/imgList" th:with="imgList=${board.boardImgList},boardNo=${board.boardNo}">			
			</section>
			
		</div>
		
		<th:block th:if="${session.loginUser!=null}">
			<div id="preferContainer">
				<button class="rounded-pill btn btn-outline-danger" 
				th:classappend="${prefer==0}?'':'active'"
				onclick="boardPreferModify(event,1)"
				th:value="${board.boardNo}">
					<i class="bi bi-hand-thumbs-up"></i>
					<th:block th:text="${board.likes}"></th:block>
				</button>
			</div>
			<th:block th:if="${session.loginUser.userNo==board.userNo}">
				<a class="btn btn-outline-primary" th:href="@{/board/update.do?(boardNo=${board.boardNo})}">수정</a>
				<a class="btn btn-outline-danger" th:href="@{/board/delete.do?(boardNo=${board.boardNo})}">삭제</a>
			</th:block>
		</th:block>
		
		<th:block th:if="${session.loginUser!=null}">
			<form name="replyInsertForm" action="/reply/insert.do" method="post">
				<input type="hidden" name="boardNo" th:value="${board.boardNo}">
				<input type="hidden" name="userNo" th:value="${session.loginUser.userNo}">
				<p class="form-floating">
					<textarea class="form-control" name="contents" id="replyContents"></textarea>
				</p>
				<div class="input-group">
					<button class="btn btn-outline-primary">등록</button>
				</div>
			</form>
		</th:block>
			<section id="replyList" class="mt-3 collapse show">
				<th:block th:include="/reply/list" th:with="replyList=${board.boardReplyList}, boardNo=${board.boardNo}, user=${board.user}"></th:block>
			</section>
	</main>
</body>
</html>