<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/board.js" defer="defer"></script>
<style type="text/css">
#uploadBox img{
	width: 200px;
	heigh:200px;
}
</style>
</head>
<body>
<header th:include="/nav/headerNav"></header>
	<form enctype="multipart/form-data" action="/board/insert.do" method="POST">
		<input type="hidden" value="1" name="userNo">
		<div class="mb-3">
		  <textarea class="form-control" name="contents" rows="3"></textarea>
		</div>
		
		<div>
			<label for="selCategory">카테고리</label>
			<select name="category" id="selCategory">
				<option th:value="food">food</option>
				<option th:value="sport">sport</option>
				<option th:value="sights">sights</option>
				<option th:value="etc" selected>etc</option>
			</select>
		</div>
		<div>
			<label for="map">지도</label>
			<input type="number" name="mapConfirm" id="map" value=0>
		</div>
		<div class="mb-3" id="uploadBox" style="border:1px solid black; width:800px; height:300px; padding:3px">
		  <input name="img" class="form-control" type="file" id="inputImg" multiple
		  onchange="setThumbnail(event)">
		  <div id="imgContainer"></div>
		  <span id="fileNm"></span>
		</div>
		<button class="btn btn-outline-primary">글쓰기</button>
		<button class="btn btn-outline-danger" type="reset">초기화</button>
	</form>
</body>
</html>