<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/board.js" defer="defer"></script>
<style>

.insertCon{
	border: 2px solid #ddd;
	border-radius: 20px;
	
	margin-top: 30px;
	padding: 20px;
	
	height : 700px;
}

#imgContainer img{
	width: 200px;
	height: 200px;
	
	float: right;
}


.modalbutton button{
width:250px;
}
</style>
</head>
<body>
<header th:include="/nav/headerNav"></header>
	<main class="d-flex w-100 h-100">
		<div class="sideNav" style="width:170px" th:include="/nav/asideNav"></div>
		
		<div class="container d-flex justify-content-center bg-light ">
		 	<div class="insertCon">
		 		<form  enctype="multipart/form-data" action="/board/insert.do" method="POST">
		 		<h1>글 등록 폼</h1>			     
			   <div class="mt-5">
				<input type="hidden" value="1" name="userNo">
			
				<div class="d-flex">
					<div class="boardInputLeft">
						<div class="input-group mb-3">
							 <label class="input-group-text" for="selCategory">Choose</label>
							 <select class="form-select" id="selCategory" name="category">
								   <option value="food">Food</option>
								   <option value="sport">Sport</option>
								   <option value="sights">Sights</option>
								   <option value="etc" selected>etc</option>
							 </select>
						</div>
						
						<div class="d-flex">
							<div class="input-group mb-3" id="uploadBox">
						 		<input name="img" class="form-control"
						 		type="file" id="inputImg" multiple onchange="setThumbnail(event)">
							</div>
						</div>
						
						<div class="input-group mb-3">
							 <label class="input-group-text" for="map">지도</label>
							 <input type="number" class="form-control" id="map" value=0>
						</div>
												
						
						<div class="form-floating">
							<textarea style="resize: none; height: 300px;"
								class="form-control" name="contents" id="boardContents" placeholder="내용"></textarea>
							<label for="boardContents">내용</label>
						</div>
						
					</div>
					
					<div class="boarderInputRights d-flex justify-content-center">
						<div id="imgContainer"></div>
					</div>
				</div>
			     </div>
			     
			     <div class="d-flex justify-content-center modalbutton mt-4">
				<button class="btn btn-outline-primary me-4">글쓰기</button>
				<button class="btn btn-outline-danger me-4" type="reset">초기화</button>
			       <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
			     </div>
		     </form>
		 	</div>
		</div>
	</main>
</body>
</html>

	