<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/board.js" defer="defer"></script>
<style type="text/css">

.mainBoard{
	width:400px;
}


.board{
	border: 4px solid #eee;
	border-radius: 20px;
	
	width : 700px;
	
	margin-top: 30px;
	padding: 20px;
}

.profile-img-wrap{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
}

.profile-img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mainBoardImg{
	height:250px;
}

.mainBoardContent{
	
	border-radius:10px;
	
	background-color: #eee;
	
	height:150px;
	line-height: 150px;
}

.modalbutton button{
width:250px;
}

.mBtn{
	margin-top:10px;

	width:200px;
	height: 40px;
	text-align: center;
	line-height: 20px;
}

.nickName{
	font-size: 25px;
	font-weight: bold;
}


</style>
</head>
<body>

<div class="d-flex justify-content-between mb-3">
	<div>
		<a class="btn btn-outline-primary p-2 me-3 mBtn" th:href="@{/board/insert.do}">글쓰기</a>
		<button class="btn btn-outline-dark p-2 mBtn" data-bs-toggle="modal" data-bs-target="#category">Category</button>
	</div>
<!-- 	<div class="ms-auto p-2">
		<input type="text" placeholder="해시태그 검색" id="hashTag">
		<button class="btn btn-outline-success" onclick="findByHasgTag()">검색</button>
	</div> -->
	
	<div class="input-group p-2" style="width:500px;">
	  <input type="text" class="form-control" placeholder="해시태그 검색"  id="hashTag" >
	   <button class="btn btn-outline-success" onclick="findByHasgTag()">검색</button>
	</div>
	
	<!-- category modal -->
	<div class="modal fade" id="category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Category</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
		       	<div class="form-check form-check-inline">
				  <input name="category" class="form-check-input" type="checkbox" id="food" value="food" onclick="clickCheck(this)">
				  <label class="form-check-label" for="inlineCheckbox1">food</label>
				</div>
				<div class="form-check form-check-inline">
				  <input name="category" class="form-check-input" type="checkbox" id="sport" value="sport" onclick="clickCheck(this)">
				  <label class="form-check-label" for="inlineCheckbox2">sport</label>
				</div>
				<div class="form-check form-check-inline">
				  <input name="category" class="form-check-input" type="checkbox" id="sights" value="sights" onclick="clickCheck(this)">
				  <label class="form-check-label" for="inlineCheckbox3">sights</label>
				</div>
				<div class="form-check form-check-inline">
				  <input name="category" class="form-check-input" type="checkbox" id="etc" value="etc" onclick="clickCheck(this)">
				  <label class="form-check-label" for="inlineCheckbox4">etc</label>
				</div>
				<div class="form-check form-check-inline">
				  <input name="category" class="form-check-input" type="checkbox" id="all" value="all" onclick="clickCheck(this)">
				  <label class="form-check-label" for="inlineCheckbox5">all</label>
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="selectCatergory()">Select</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>



	<main class="container d-flex justify-content-center" id="mainBoardContainer">
		<div>
			<th:block th:each="board:${boardList}">
			<div class="board d-flex justify-content-center ">
				<div>
					<div class="d-flex"
					th:onclick="|location.href='@{user/profile.do(userId=${board.user.userId})}'|">
						<div class="profile-img-wrap me-3" >
		                    <img alt=" "  id="preview"
		                    th:src="@{/img/user/{file}(file=${board.user.imgPath})}">
			            </div>
						<div class="nickName" th:text="${board.user.nickname}"></div>
					</div>
					<div class="d-flex"
					th:onclick="location.href='detail.do?boardNo=[[${board.boardNo}]]'">
						<div class="mainBoard me-2">
							<div class="mainBoardImg">
									<!-- <img class="col" style="width: 400px;" th:src="@{/img/board/{file}(file=${img.imgPath})}"> -->
								<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
								  <div class="carousel-inner">
								<th:block th:each="img:${board.boardImgList}" >
								    <div class="carousel-item active" >
								      <img th:src="@{/img/board/{file}(file=${img.imgPath})}" style="width: 400px; height: 250px;">
								    </div>
								</th:block>
								  </div>
								</div>
							</div>
							<div class="mainBoardContent">
								<span th:text="${board.contents}"></span>
							</div>
						</div>
						<div class="mainBoardReply ms-2">
							<section id="replyList" class="collapse show">
								<th:block th:include="/reply/mlist" th:with="replyList=${board.boardReplyList}, boardNo=${board.boardNo}, user=${board.user}"></th:block>
							</section>
					<div class="mt-2">
						<th:block th:if="${session.loginUser!=null}">
							<form name="replyInsertForm" action="/reply/insert.do" method="post">
								<input type="hidden" name="boardNo" th:value="${board.boardNo}">
								<input type="hidden" name="userNo" th:value="${session.loginUser.userNo}">
								</form>
							</th:block>
						</div>

						</div>
					</div>			
				</div>
			</div>
			</th:block>
		</div>
	</main>

</body>
</html>