<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
</div>

<div class="modal-body">   
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item" role="presentation">
	    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">그룹원관리</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">그룹편집</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">가입수락</button>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="userManage" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
	  <div class="tab-pane fade" id="groupModify" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
	  <div class="tab-pane fade" id="registerConfirm" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
</div>

	
