<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<form class="bg-light" action="/reply/update.do" method="post" enctype="multipart/form-data">
		<h5>댓글 수정 (<span th:text="${reply.userNo}"></span>)</h5>
		<input type="hidden" name="boardNo" th:value="${reply.boardNo}">
		<input type="hidden" name="replyNo" th:value="${reply.replyNo}">
		<input type="hidden" name="userNo" th:value="${reply.userNo}">
		<div class="row input-group">
			<p class="form-floating col-10">
				<textarea th:text="${reply.contents}"
				class="form-control" id="replyContents" name="contents" placeholder="내용" style="height: 100px;"></textarea>
				<label for="replyContents">내용</label>
			</p>
		</div>
		<div class="d-flex justify-content-end">
			<!-- this는 button 자기 자신을 말함 this.form -> 자기가 포함된 form -->
			<button onclick="updateReply(this.form)" type="button" class="btn btn-outline-primary me-2">수정</button>
			<button th:onclick="deletReply([[${reply.replyNo}]],[[${reply.boardNo}]])" type="button" class="btn btn-outline-danger">삭제</button>
		</div>
	</form>
</html>