<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>홈</title>
</head>
<style>
div {
border : 1px solid green;
}
</style>
  
	<body>
		<header th:include="/nav/headerNav"></header>
		<main class="d-flex w-100 h-100">
			<div class="sideNav" style="width:170px" th:include="/nav/asideNav"></div>
			
			<div class="container justify-content-center bg-light ">
			 	<section class="mt-5" th:include="/board/list"></section>
			</div>
      
		</main>
	</body>

</html>