<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>홈</title>
</head>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
$(function(){
	$("#modalBtn").click(function(){
		$('div.modal').modal({remote : 'groupManage.html'});
	})
})
</script>
<body>
	<header th:include="/headerNav"></header>
	<main class="d-flex w-100 h-100">
		<aside style="width:10%;" th:include="/asideNav"></aside>
		<section>
			<h1>Spring boot MVC+Mybatis</h1>
				<h2>메이븐으로 의존성주입(DI)한 라이브러리</h2>
				<ul>
					<li>Spring Web : 요청 응답과 관련된 Spring MVC Container(톰캣, Controller, JACKSON....)</li>
					<li>Thymleaf : 컨트롤러가 요청하는 서버사이드 view로 자바코드를 html로 작성가능</li>
					<li>Devtools : 코드 수정시 서버 재시작 및 브라우저에 liveReload를 설치하면 자동 브라우저 새로고침 기능 제공</li>
					<li>mysql Java connector : mysql에서 제공하는 접속 라이브러리(Spring datasource 설정을 해야 스프링 실행)</li>
					<li>Spring Mybatis : Mybatis는 쿼리를 sqlSession 객체로 관리하는 라이브러리인데 Spring에서 독자적인 컨테이너(Session Factoru) 생성 후 의존성 주입을 해준다.</li>
					<li>lombok : 이클립스에 설치되는 확장프로그램으로 자동으로 getter setter 캡슐화를 생성
					<br>(lombok.jar 실행 후 eclipse.init 파일 선택 후 설치)</li>
				</ul>
				<h2>server side view Template Thymleaf</h2>
				<ul>
					<li>동적파일인데 html 문법으로 작성되는 view</li>
					<li>src/main/resources/templates 경로에 작성하면 웹앱으로 배포될때 숨겨진 폴더인 WEB-INF/templates에 작성된다.</li>
					<li>templates 에 작성된 타임리프 문서는 컨트롤러와 타임리프에서만 호출할 수 있다</li>
					<li>컨트롤러와 타임리프가 view를 호출하면 앞에는(Prefix) "WEB-INF/templates/" 와 뒤에는(Suffix) ".html"이 자동으로 붙는다.</li>
					<li>jsp가 html문법과 Java문법이 혼재되어서 유지보수가 어려워 등장하게 됨</li>
					<li>WEB-INF/templates에 작성함녀 보안에 유리하다</li>
				</ul>
				<button class="btn btn-default" id="modalBtn">모달테스트</button>
  				<div class="modal-fade">
    	     		<div class="modal-dialog">
    					<div class="modal-content"></div>
    				</div>
   				</div>
		</section>
	</main>
</body>

</html>